// Example mixins
@mixin relative-font-size($factor) {
    font-size: $factor * 1rem;
  }
  
  @mixin media-query($breakpoint) {
    @if $breakpoint == $on-palm {
      @media (max-width: 768px) {
        @content;
      }
    } @else if $breakpoint == $on-laptop {
      @media (min-width: 769px) {
        @content;
      }
    }
  }
  
  // You can define $on-palm and $on-laptop breakpoints
  $on-palm: "on-palm";
  $on-laptop: "on-laptop";